version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    env_file: "./backend/.env"
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/Online_Shop
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
